// Primary Palette
$primary-color: #2d446e;

// Secondary Palette
$progress-bar: #66cc66;
$secondary-dark: #eeeeee;

// Neutral Colors
$complete: #4caf50;
$not-started: #b0b0b0;
$archived: #607d8b;
$in-review: #3b78a3;
$in-revision: #3e4b4f;
$white: #ffffff;
$black: #000000;

// Text Colors
$text-primary: #333333;
$text-secondary: #666666;

// Border Color
$border-color: #ddd;

// Hover Colors
$hover-color: #f1f1f1;

$default-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
$default-text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
