@import "../styles/_colors.scss";
.gridContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
  padding: 20px;
}
